.card {
  background-color: gold;
  padding: 1rem;
}

.card__contents {
  display: grid;
  background-color: white;
  height: 100%;
}

.card__image {
  position: relative;
  height: 40vh;
  * {
    object-fit: contain;
  }
}
