// $mask-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

$mask-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

@mixin cover() {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin pastel-gradient($direction) {
  background-image: linear-gradient(
    $direction,
    rgb(194, 255, 182) 0%,
    rgb(255, 163, 182) 40%,
    rgb(221, 169, 255) 60%,
    rgb(162, 209, 255) 100%
  );
}

@mixin rainbow-gradient($direction) {
  background-image: linear-gradient(
    $direction,
    rgb(221, 2, 3) 0%,
    rgb(251, 137, 2) 20%,
    rgb(248, 235, 5) 40%,
    rgb(0, 127, 38) 60%,
    rgb(5, 75, 249) 80%,
    rgb(114, 6, 130) 100%
  );
}

.wrapper {
  font-family: sans-serif;
  text-align: center;
  color: black;
  @include cover();
  background-color: #ffffff;
}

.mask {
  opacity: 1;
  @include cover();
  // mask-image: $mask-image;
}

.horizontal {
  opacity: 1;
  @include cover();

  background-repeat: repeat;
  background-size: 200%;
  background-position-x: var(--coordinates-x);
  @include pastel-gradient(to right);
}

.vertical {
  opacity: 0.5;
  @include cover();

  background-repeat: repeat;
  background-size: 200%;
  background-position-y: var(--coordinates-y);
  @include pastel-gradient(to bottom);
}

.turn {
  opacity: 0.33;
  @include cover();

  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  @include rainbow-gradient(var(--delta-z));
}

.glare {
  opacity: 0.2;
  @include cover();

  background-repeat: repeat;
  background-size: 100%;
  background-position: center;

  background-image: linear-gradient(
    var(--delta-z),
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.13) calc(var(--coordinates-y) - 3%),
    rgba(255, 255, 255, 0.75) var(--coordinates-y),
    rgba(255, 255, 255, 0.13) calc(var(--coordinates-y) + 3%),
    rgba(255, 255, 255, 0) 100%
  );
}

/* https://heropatterns.com/ */
