// $mask-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

$mask-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

@mixin cover() {
  // position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // width: 100vw;
  // height: 100vh;
  position: absolute;
}

// prettier-ignore
$gradient-pastel:
  rgba(194, 255, 182, 1) 0%,
  rgba(255, 163, 182, 1) 40%,
  rgba(221, 169, 255, 1) 60%,
  rgba(162, 209, 255, 1) 100%;
// prettier-enable

// prettier-ignore
$gradient-rainbow:
  rgba(221, 2, 3, 0.5) 0%,
  rgba(251, 137, 2, 0.5) 20%,
  rgba(248, 235, 5, 0.5) 40%,
  rgba(0, 127, 38, 0.5) 60%,
  rgba(5, 75, 249, 0.5) 80%,
  rgba(114, 6, 130, 0.5) 100%;
// prettier-enable

@mixin pastel-gradient($direction) {
  background-image: repeating-linear-gradient($direction, $gradient-pastel);
}

@mixin rainbow-gradient($direction) {
  background-image: linear-gradient($direction, $gradient-rainbow);
}

.wrapper {
  font-family: sans-serif;
  text-align: center;
  color: black;
  @include cover();
  background-color: #ffffff;
  height: 100%;
}

.mask {
  opacity: 1;
  @include cover();
  // mask-image: $mask-image;
}

.horizontal {
  opacity: 1;
  @include cover();

  background-repeat: repeat;
  background-size: 200%;
  background-position-x: var(--coordinates-x);
  @include pastel-gradient(to right);
}

.vertical {
  opacity: 0.5;
  @include cover();

  background-repeat: repeat;
  background-size: 200% 200%;
  background-position-y: var(--coordinates-y);
  @include pastel-gradient(to top);
}

.turn {
  opacity: 0.33;
  @include cover();

  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  @include rainbow-gradient(var(--degrees-z));
}

.glare {
  opacity: 0.2;
  @include cover();

  background-repeat: repeat;
  background-size: 100%;
  background-position: center;

  background-image: linear-gradient(
    var(--degrees-z),
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.13) calc(var(--coordinates-y) - 3%),
    rgba(255, 255, 255, 0.75) var(--coordinates-y),
    rgba(255, 255, 255, 0.13) calc(var(--coordinates-y) + 3%),
    rgba(255, 255, 255, 0) 100%
  );
}

/* https://heropatterns.com/ */
